<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/footer.css">
    <script src="https://kit.fontawesome.com/722d303ab2.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <footer>
        <div class="foot">
            <div class="icons">
                <a href="https://www.facebook.com/Nature/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/nature/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.google.co.uk/"><i class="fa-brands fa-google-plus"></i></a>
                <a href="https://www.youtube.com/channel/UC7c8mE90qCtu11z47U0KErg"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footNav">
                <ul>
                    <li><a href="">News</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
    
                </ul>
            </div>
            <!-- <div class="footBottom">
                <p text-muted>Copyright &copy;2024; Designed By <span>Muskan</span</p>
            </div>
        </div>
         -->
    </footer>
</body>
</html>