<%- include('partials/head.ejs') %>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/home.css"></head>



<body>
  <%- include('partials/navbar') %>
  <div class="hero">
    <video class="back-video" autoplay loop muted plays-inline >
<source src="https://videos.pexels.com/video-files/3326928/3326928-hd_1280_720_24fps.mp4" type="video/mp4">

    </video>
    <h1>Nature</h1>
    <a href="/media">Explore</a>
    <!-- <div class="content"> -->
      <!-- <h1><br> World  <br> Of Nature</h1>  -->
     <!-- <p>The beauty of nature lies in its freshness, <br> openness, slow breeze and the warm sun</p> -->
    <!-- <button>Explore</button> -->
  </div>
  
    </body>
    
    <%- include('partials/footer.ejs') %>
</html>