<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="/static/media.css">
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
 
</head>
<body>
       <div class="cover">
        <div class="box">
            <a href="https://en.wikipedia.org/wiki/Giraffe"><img src="https://images.ctfassets.net/81iqaqpfd8fy/3r4flvP8Z26WmkMwAEWEco/870554ed7577541c5f3bc04942a47b95/78745131.jpg?w=1200&h=1200&fm=jpg&fit=fill" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
       <a href="https://en.wikipedia.org/wiki/Giraffe" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Elephant"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLZ_0MUj0VKBEKv8CwMZBqqjtU0oFx3FmPQ&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Elephant" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Animal"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUq-xZCxdAZ3b9KMhgEuvmmC9jsFjJlvjYbw&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Animal" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Animal"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ38Ns-CVTDefJzIOyf7qTAbQ0M09CRhV1oQA&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Animal" class="btn">Read More</a>
        </div>
       </div>

       <div class="cover">
        <div class="box">
            <a href="https://en.wikipedia.org/wiki/Giraffe"><img src="https://images.ctfassets.net/81iqaqpfd8fy/3r4flvP8Z26WmkMwAEWEco/870554ed7577541c5f3bc04942a47b95/78745131.jpg?w=1200&h=1200&fm=jpg&fit=fill" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
       <a href="https://en.wikipedia.org/wiki/Giraffe" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Elephant"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLZ_0MUj0VKBEKv8CwMZBqqjtU0oFx3FmPQ&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Elephant" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Animal"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUq-xZCxdAZ3b9KMhgEuvmmC9jsFjJlvjYbw&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Animal" class="btn">Read More</a>
        </div>
        <div class="box">
           <a href="https://en.wikipedia.org/wiki/Animal"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ38Ns-CVTDefJzIOyf7qTAbQ0M09CRhV1oQA&s" alt=""></a>
            <h2>ANIMAL'S WORLD</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet similique aperiam pariatur dolorem explicabo rem rerum delectus, nihil aliquid velit ea quo ratione quasi atque officiis provident ullam accusantium.</p>
            <a href="https://en.wikipedia.org/wiki/Animal" class="btn">Read More</a>
        </div>
       </div>
       <a href="/"><button type="button" class="btn btn-dark" style=" display: flex; text-align: center; margin: auto; margin-top: 15px; margin-bottom: 20px;">Back to home</button></a>
     
      </body>
</html>